*,::after,::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

@font-face {
    src: url(NunitoR.ttf);
    font-family: nunito;
}

@font-face {
    src: url(notosans.ttf);
    font-family: notosans;
}

/* პირველი კონტეინერი */

.div1 {
    width: 100%;
    margin: 0;
    background: linear-gradient(111.23deg, #E9F7FF 9.95%, #FFDBD5 85.17%);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.background {   
    position: absolute;
    width: 1208px;
    height: 1208px;
    right: -587px;
    top: -198px;
    background: #F4F6FB;
    border-radius: 50%;
}

.pattern {
    position: absolute;
    width: 445px;
    height: 439px;
    right: 218px;
    bottom: 410.5px;
    z-index: 1;

}

.pattern1 {
    position: absolute;
    width: 228px;
    height: 228px;
    left: 1387px;
    top: 284px;
}

.navdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 61px;
    width: 1703px;
}

.navigation {
    width: 1703px;
    height: 81px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo {
    margin: 0 auto;
}

.logo1 {
    width: 201px;
    height: 81px;
}

.header {
    display: flex;
    align-items: center;
}

.home {
    position: relative;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #292930;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #FFDC60;
    transition: all .2s;
}

.home::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #5956E8;
    transition: all .2s;
}

.home:hover::before {
    width: 100%;
    transition-delay: .1s;
}

.home:hover::after {
    width: 50%;
}

.about {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #292930;
    margin-left: 62px;
    position: relative;
}

.about::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #FFDC60;
    transition: all .2s;
}

.about::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #5956E8;
    transition: all .2s;
}

.about:hover::before {
    width: 100%;
    transition-delay: .1s;
}

.about:hover::after {
    width: 50%;
}

.services {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #292930;
    margin-left: 62px;
    position: relative;
}

.services::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #FFDC60;
    transition: all .2s;
}

.services::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #5956E8;
    transition: all .2s;
}

.services:hover::before {
    width: 100%;
    transition-delay: .1s;
}

.services:hover::after {
    width: 50%;
}

.pages {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #292930;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 62px;
    transition: all .3s;
}

.pages:hover {
    transform: translateY(-2px);
}

.arrow {
    width: 25px;
    height: 25px;
    margin-left: 4px;
}

/* Dropdown Menu */

.dropdown {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 25px;
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2ECEE;
    width: 140px;
    height: 92px;
    left: 95px;
    min-width: 140px;
    border-radius: 14px;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08), 
    0px 183.185px 183.185px rgba(52, 41, 39, 0.12), 
     0px 91.5925px 91.5925px rgba(52, 41, 39, 0.04),
      0px 68.6944px 68.6944px rgba(52, 41, 39, 0.04),
       0px 11.4491px 68.6944px rgba(52, 41, 39, 0.04),
        0px 11.4491px 11.4491px rgba(52, 41, 39, 0.04);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {color: #000000;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .company {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #292930;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
  }

  .company:hover {
    background-color: #FFDBD5;
    border-radius: 10px;
  }

  .contact {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #292930;
    position: relative;
  }

  .contact:hover {
    background-color: #FFDBD5;
    border-radius: 10px;
  }

/* dropdown finish */

.blog {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #292930;
    margin-left: 58px;
    position: relative;
}

.blog::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #FFDC60;
    transition: all .2s;
}

.blog::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #5956E8;
    transition: all .2s;
}

.blog:hover::before {
    width: 100%;
    transition-delay: .1s;
}

.blog:hover::after {
    width: 50%;
}


.log {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.login {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #292930;
    position: relative;
    margin-left: 62px;
}

.login::after {
    content: '';
    position: absolute;
    left: 0;
    bottom:-1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #FFDC60;
    transition: all .2s;
}

.login::before {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -1px;
    width: 0%;
    height: 2px;
    height: 5%;
    background-color: #5956E8;
    transition: all .2s;
}

.login:hover {
    transform: translateY(-3px);
}

.login:hover::before {
    width: 100%;
    transition-delay: .1s;
}

.login:hover::after {
    width: 50%;
}


.started {
    margin-left: 43px;
    width: 163px;
    height: 64px;
    background-color: #292930;
    border-radius: 7px;
}

.started:hover {
    border: 3px solid #ffffff;
}

.get {
    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

/* მეორე კონტეინერი */

.div2 {
    display: flex;
    align-items: center;
    width: 1703px;
    padding-left: 234px;
    margin: 0 auto;
    position: relative;
}

.banner {
    position: absolute;
    width: 1703px;
    height: 801px;
    right: 0;
    z-index: 2;
}

.text {
    width: 740px;
    margin-top: 194px;
}

.agency {
    font-family: notosans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #292930;
}

.span1 {
    color: #FEC90C;
}

.h1-1 {
    margin: 0;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    color: #292930;
}

.span2 {
    color: #5956E8;
}

.p1 {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
}

.buttons {
    display: flex;
    align-items: center;
}

.ourse {
    width: 182px;
    height: 64px;
    background-color: #292930;
    font-family: 'nunito';
    border-radius: 7px;
    text-decoration: none;
    transition: all .0.5s;
    margin-bottom: 280px;
}
.ourse1 {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

.getstarted {
    width: 182px;
    height: 64px;
    background-color: #ffffff;
    border: 2px solid #292930;
    border-radius: 7px;
    text-decoration: none;
    margin-left: 20px;
    transition: all .0.5s;
    margin-bottom: 280px;
}

.getstarted1 {
    text-decoration: none;
    color: #292930;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/* მეორე კონტეინერი */

.div3 {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #292930;
}

.div3-1 {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    margin-top: 118px;
}

.icon {
    width: 88px;
    height: 88px;
}

.div3-2 {
    margin-left: 39px;
}

.service01 {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #D0D0D0;
    margin: 0;
}

.h2-1 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    padding-top: 15px;
}

.ourser {
    width: 174px;
    height: 62px;
    border-radius: 7px;
    margin-top: 55px;
    margin-left: 294px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourser:hover {
    background-color: #292930;
}

.ourserv {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #292930;
    text-decoration: none;
}

.ourserv:hover {
    color: #ffffff;
}

.vector11 {
    width: 14px;
    height: 14px;
    margin-left: 8px;
}

.ourser:hover svg path {
    fill: #5956E8;
}

/* მესამე კონტეინერი */

.div4 {
    width: 100%;
    background-color: #292930;
}

.div4-1 {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
}

.div4-1-1 {
    background-color: #424245;
    width: 352px;
    height: 475px;
    border-radius: 30px;
}

.div4-1-2 {
    background-color: #424245;
    width: 352px;
    height: 475px;
    border-radius: 30px;
    margin-left: 70px;
}

.div4-1-3 {
    background-color: #424245;
    width: 352px;
    height: 475px;
    border-radius: 30px;
    margin-left: 70px;
}

.icon1 {
    padding-left: 39px;
    padding-top: 41px;
}

.h2-001 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding-left: 39px;
    color: #ffffff;
}

.lorem {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #D0D0D0;
    padding-left: 39px;
}

.readm {
    width: 266px;
    height: 62px;
    background-color: #424245;
    margin-left: 39px;
    border-radius: 7px;
    border: 2px solid #525255;
}

.readm:hover {
    background-color: #FFDC60;
    color: #292930;
}

.readmo {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #525255;
    text-decoration: none;
}

.svg1 {
    padding-left: 8px;
    padding-top: 7px;
}

.readm:hover svg path {
    fill: #5956E8;
}

.div4-2 {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    align-items: center;
    padding-bottom: 173px;
}

.div4-2-1 {
    background-color: #424245;
    width: 352px;
    height: 475px;
    border-radius: 30px;
    margin-top: 67px;
}

.div4-2-2 {
    background-color: #424245;
    width: 352px;
    height: 475px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 67px;
}

.div4-2-3 {
    background-color: #424245;
    width: 352px;
    height: 475px;
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 67px;
}

/* მეოთხე კონტეინერი */

.div5 {
    width: 1200px;
    height: 798px;
    margin: auto;
    margin-bottom: 170px;
}

.heading {
    width: 473px;
    height: 243px;
    margin: auto;
    margin-top: 94px;

}

.dollar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'notosans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.135em;
    height: 23px;
    padding-top: 34px;
}

.span06 {
    color: #5956E8;
}

.flexible {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #292930;
    padding-top: 14px;
}

.div5-1 {
    display: flex;
    align-items: center;
    width: 389px;
    height: 554px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-top: 13px;
    transition: all .2s;
}

.div5-1:hover {
    background-color: #292930;
    color: #F6F6F6;
    border: 10px solid #ffffff;
    border-radius: 20px;
}

.div5-1 .plan:hover {
    background-color: #F6F6F6;
}

.div5-1 a:hover {
    color: #292930;
    font-weight: 700;
}

.starter {
    width: 313px;
    height: 464px;
    margin: 0 auto;
}

.starter0 {
    display: flex;
    padding-left: 90px;

}

.starter1 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

.div5-1-1 {
    display: flex;
    border-bottom: 2px solid #D3D3D3;

}

.gear {
    width: 49.14px;
    height: 51.61px;
    margin: 0;
}

.dollar29 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 1000;
    font-size: 50px;
    margin: 0;
    padding-left: 34px;
    padding-top: 7px;
}

.permonth {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #555555;
    padding-left: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0;

}

.div5-2 {
    width: 313px;
    height: 216px;
    margin-top: 30px;
}

.div5-0 {
    display: flex;
    align-items: center;
    width: 100%;
}

.emarketing {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.markcontent {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 9px;
    margin: 0;
}

.plan {
    background-color: #292930;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 313px;
    height: 64px;
    border-radius: 7px;
    position: relative;
}

.purchase {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.starterdark {
    background-color: #292930;
    width: 389px;
    height: 554px;
    border-radius: 10px;
    margin-left: 17px;
    margin-top: 13px;
}

.popular {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #292930;
    width: 89px;
    margin-top: 26px;
    margin-left: 78px;

}

.popularbutt {
    background-color: #FFDC60;
    width: 89px;
    height: 40px;
    border-radius: 9px;
}

.starter111 {
    margin-top: 45px;
}

.starter11 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    margin: 0 auto;
}

.rocket {
    width: 36.43px;
    height: 55px;
    margin: 0;

}

.dollar49 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: #ffffff;
    padding-top: 7px;
    padding-left: 39px;
    margin: 0;
}

.permonth1 {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 30px;
    margin: 0;
}

.contents {
    width: 313px;
    height: 216px;
    margin-top: 30px;
}

.emarketing1 {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.markcontent1 {
    font-family: 'notosans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 9px;
    margin: 0;
    color: #FFFFFF;
}

.plan1 {
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 313px;
    height: 64px;
    border-radius: 7px;
    position: relative;
    transition: all .4s;
}

.plan1:hover {
    border: 5px solid #292930;
    border-radius: 10px;
    width: 69%;
}

.purchase1 {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #292930;
}

.starter3 {
    display: flex;
    align-items: center;
    width: 389px;
    height: 554px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-left: 17px;
    margin-top: 13px;
}

.dollar2 {
    width: 48.98px;
    height: 49px;
    margin: 0;
}

.starterhead {
    display: flex;
    border-bottom: 2px solid #D3D3D3;
}

/* მეხუთე კონტეინერი */

footer {
    background-color: #292930;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div6 {
    width: 399px;
    height: 652.16px;
    background-color: #3C3C45;
}

.div6-1 {
    width: 293px;
    height: 554.16px;
    margin: auto;
}

.logo2 {
    width: 239px;
    height: 81.16px;
}
